

<%# https://www.w3schools.com/bootstrap5/bootstrap_navbar.php  %>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-topk">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Animal Rescue</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/animals/dogs">Dogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/animals/cats">Cats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/animals/others">Other Animals</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto">
        <% if current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/animals/adopted">Adopted Animals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/animals/new">New Animal</a>
          </li>
          <li class="nav-item">
            <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary") %>
          </li>
        <% else %>
            <li class="nav-item">
              <%= button_to("Log In", "/users/sign_in", class: "btn btn-primary") %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</nav>
