



<!-- Jumbotron -->
<div
  class="p-5 text-center bg-image rounded-3 root-hero"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); height:500px;"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Animal Rescue</h1>
        <h4 class="mb-3">We rescue and rehome animals</h4>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->


<div id="introduction row">
  <div class="col">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates saepe repellendus laboriosam, ducimus porro distinctio ab id fugiat quam ex temporibus necessitatibus similique non, alias magnam iste! Quaerat, commodi provident.</p>
  </div>
  <div class="col">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates saepe repellendus laboriosam, ducimus porro distinctio ab id fugiat quam ex temporibus necessitatibus similique non, alias magnam iste! Quaerat, commodi provident.</p>
  </div>
</div>


<%= render "menus/footer" %>