
<table class="table">
  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= animal.adopted_by_name %></td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= animal.adopted_by_email %></td>
    </tr>
    <tr>
      <td><strong>Phone:</strong></td>
      <td><%= animal.adopted_by_phone %></td>
    </tr>
    <tr>
      <td><strong>Date:</strong></td>
      <td><%= animal.adopted_date %></td>
    </tr>
  </tbody>
</table>