<div id="<%= dom_id animal %>" class="card">
  <%= link_to image_tag(animal.photos.first.address, class: "card-img-top"), animal %>
  <div class="card-body">
    <div class="d-grid gap-2">
      <%= link_to animal.name, animal, class: "btn btn-primary" %>
    </div>

    <p class="card-text"><%= animal.summary %></p>

  </div>
</div>
