<div class="row justify-content-center">
  <div id="carouselExampleControls" class="carousel slide col-12" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% animal.photos.each do |photo| %>
        <div class="carousel-item">
          <%= image_tag(photo.address, class: "d-block w-100") %>
        </div>
      <% end %>
      <div class="carousel-caption d-none d-md-block  d-s-block">
        <h2> <%= animal.name %></h2>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
