<h1>Editing animal</h1>

<%= render "form", animal: @animal %>

<form action="">
  <div class="d-grid gap-2">
    <%=
      button_to(
        "Delete this animal",
        @animal,
        method: :delete,
        form: { data: { turbo_confirm: "Are you sure you want to delete the record for #{@animal.name}?" } },
        class: 'btn btn-danger btn-lg btn-block'
      )
    %>
  </div>
</form>

