<p style="color: green"><%= notice %></p>

<h1>Animals</h1>

<div id="animals" class="row">

    <% @animals.each do |animal| %>
      <div class="col-sm-3">
        <%= render animal %>
      </div>
    <% end %>

</div>

<%= link_to "New animal", new_animal_path %>
